body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.content {
    max-width: 800px;
    padding: 20px;
    background-color: #2196F3; 
    border-radius: 10px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center; 
}

p {
    color: #fff; 
    font-size: 18px;
}

button {
    background-color: #1976D2; /* Azul más oscuro */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

button:hover {
    background-color: #0D47A1;
}
